<% content_for :title, "Recipes - #{@category.name}" %>

<div class="container">
  <%= link_to " < Back to categories list", categories_path, class: "btn btn-light my-4" %>
</div>

<div class="container">
  <h1><%= @category.name%></h1>
  <% if params[:ingredient_names] %>
    <%= "Search results for #{params[:ingredient_names].split(',').map(&:capitalize).join(', ')} (#{@recipes_count})"%>
  <% end %>

  <%= render partial: 'pages/search_recipes_form', locals: { url: category_recipes_path(@category) } %>

  <div class="cards my-4">
    <%= render partial: 'recipes/recipe_card', collection: @recipes, as: :recipe %>
  </div>
  <div class="d-flex justify-content-end"><%= paginate @recipes %></div>

</div>
