<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? "#{yield(:title)} - Cook with what's left" : "Cook with what's left" %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= combobox_style_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Recipes", recipes_path, class: "nav-link #{'active' if controller_path == 'recipes'}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Categories", categories_path, class: "nav-link #{'active' if controller_path.include?('categories')}" %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
    <hr>
    <footer class="footer flex-column gap-1 flex-lg-row flex-md-row">
      <div class="footer-links flex-column gap-1 flex-lg-row flex-md-row">
        <a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/?hl=fr" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/?hl=fr" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        Retrieve all your favorite recipes
      </div>
    </footer>
  </body>
</html>
