<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? "#{yield(:title)} - Cook with what's left" : "Cook with what's left" %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= combobox_style_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>

  <body>
    <ul class="list-inline tabs-underlined m-4">
      <li>
        <%= link_to "Home", root_path, class: "tab-underlined #{'active' if current_page?(root_path)}"%>
      </li>
      <li>
        <%= link_to "Recipes", recipes_path, class: "tab-underlined #{'active' if current_page?(recipes_path)}"%>
      </li>
      <li>
        <%= link_to "Categories", categories_path, class: "tab-underlined #{'active' if current_page?(categories_path)}"%>
      </li>
    </ul>
    <%= yield %>
    <hr>
    <footer class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Retrieve all your favorite recipes
      </div>
    </footer>
  </body>
</html>
